body{
    margin-top: 20px;
    display: flex;
    background-color: #2c3945;;
    text-align: center;
    align-items: center;
    color: aliceblue;
    font-family: 'Luckiest Guy', cursive;
    flex-direction: column;
}

h1 {
  font-family: 'Luckiest Guy', cursive;
  font-size: 90px; 
  color: #ffffff; 
  text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.5);  
  width: 100%;   
  text-align: center;
}

h2 {
  font-family: 'Luckiest Guy', cursive;
  font-size: 30px; 
  color: #ffffff;
  text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.5);
}

.secao-heroi {
    width: 100%;
    height: 450px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    overflow: hidden;
    background-image: url('assets/arena.png');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.secao-heroi::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0.2) 50%, transparent 100%);
   
}


.container-titulo {
    position: relative;
    z-index: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

.container-titulo h1 {
    font-family: 'Luckiest Guy', cursive;
    font-size: 85px;
    color: #FFFFFF;
    text-shadow: 6px 6px 0px rgba(0, 0, 0, 0.6);
    margin: 0;
}

.icone-titulo {
    height: 120px;
    width: auto;
    filter: drop-shadow(0 0 10px rgba(0, 0, 0, 0.5));
}


.container-titulo {
    display: flex; 
    flex-direction: column;
    align-items: center; 
    gap: 15px;
}

.conteudo-principal{
    margin: 0 auto;
    padding: 20px;
    border-radius: 30px;
    max-width: 90%;
    background-color: #3a4a59;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 1);
}

.icone-titulo {
    height: 170px; 
    width: auto; 
}

.container-corpo{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 50px;
    padding: 20px;
    justify-items: center;
}


.container-video{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 50px;
    padding: 20px;
    justify-items: center;
}

.video-card{
    width: 450px;
    background-color: #4f6273;;
    border: 3px solid #e8c17d;;
    border-radius: 15px;
    overflow:hidden; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 1);
    box-sizing: border-box;
    align-items: center;
    padding: 20px
}

.video-card video{
    width: 90%;
    height: auto;
}

.ja-pode-perguntar-marretada{
    width: 8%;
    padding: 14px;
} 

.ja-pode-perguntar{
    width: 10%;
    height: auto;
    padding: 8px;
}

.container-pode-perguntar{
    display: flex; 
    justify-content: center; 
    align-items: center; 
    gap: 20px; 
    margin-top: 20px; 
    font-size: 30px;
}

.card-container {
    width: 380px;
    height: 550px;
    background-color: transparent;
}

.card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    transition: transform 0.7s;
    transform-style: preserve-3d;
}

.card-container:hover .card-inner {
    transform: rotateY(180deg);
}

.card-front, .card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    background-color: #4f6273;;
    border: 3px solid #e8c17d;;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 1);
    box-sizing: border-box;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card-back {
    transform: rotateY(180deg);
    justify-content: center;
}

.card-front img {
    width: 90%;
    height: auto;
    border-radius: 8px;
}

.card-back img {
    width: 90%;
    height: auto;
    border-radius: 15px;
}

.carta-titulo {
    font-size: 35px;
    color: #e8c17d;
}


.carta-descricao {
    background-color: rgb(85, 7, 148);
    padding: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    margin: 10px;
    width: 95%;
    box-sizing: border-box;
}

.carta-dragao{
    width: 200px;
}